header {
  height: 100vh;
  h1 {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-size: 8rem;
  line-height: 1.1;
  color: #2d080a;
  span {
    font-size: 8.1rem;

  }
  }
  h2 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 4vw;
  letter-spacing: 0.2vw;
  margin-top: 0;
  }
  i {
  font-size: 8vw;
  }
}