header {
  height: 100vh;
  h1 {
  font-family: 'Fjalla One', sans-serif;
  margin-top: 0;
  padding-top: 100px;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
  font-size: 8rem;
  line-height: 1.1;
  color: #2d080a;
  margin-left: -10px;
  span {
    font-size: 8.1rem;
  }
  }
  i {
  font-size: 12vw;
  color: black;
  }
}