article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 125%; }

body {
  background: #e8e5e1; }

img {
  max-width: 100%;
  display: block; }

.wrapper {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto; }

header {
  height: 100vh; }
  header h1 {
    font-family: 'Fjalla One', sans-serif;
    margin-top: 0;
    padding-top: 100px;
    text-transform: uppercase;
    letter-spacing: 0.5vw;
    font-size: 8rem;
    line-height: 1.1;
    color: #2d080a;
    margin-left: -10px; }
    header h1 span {
      font-size: 8.1rem; }
  header i {
    font-size: 12vw;
    color: black; }

main h2 {
  font-size: 2rem;
  line-height: 1px;
  font-family: 'Cantarell', sans-serif;
  margin-bottom: 140px;
  margin-top: 100px;
  text-align: center; }

label {
  max-width: calc(31%); }

.galleryItem:hover {
  -webkit-box-shadow: 0px 0px 0px 5px black;
  box-shadow: 0px 0px 0px 5px black;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.focussed {
  border: 1px solid red; }

.galleryItem {
  max-width: 100%;
  position: relative; }

label:nth-of-type(1) {
  margin-left: -1.5%; }

label:nth-of-type(3) {
  margin-right: -1.5%; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0; }

.highlight {
  z-index: 99;
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: 0px 0px 0px 5px black;
  box-shadow: 0px 0px 0px 5px black; }

p.textOverlay {
  margin: 0;
  padding: 0;
  font-size: 5.5vw;
  font-weight: bolder;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
  color: #f5853f;
  text-align: center;
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  margin-top: 70%;
  line-height: 1; }

p.fiftycent {
  text-transform: none; }

p.drake {
  margin-top: 51%;
  font-size: 5vw;
  text-transform: none; }

p.textAggressive {
  font-size: 4.5vw;
  margin-top: 73%; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.section {
  background: #fafafa;
  padding: 50px 0 50px 0; }
  .section h2 {
    margin-left: -16px; }

.thirdSection {
  padding-bottom: 130px; }

fieldset {
  border: none; }

input[type="submit"] {
  font-family: 'Fjalla One', sans-serif;
  text-transform: uppercase;
  margin: 0 auto;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  background: #8c271e;
  width: 100%;
  font-size: 5rem;
  margin-top: 0px;
  padding-top: 20px;
  border: none; }

input[type="submit"]:hover {
  border: 4px solid black; }

input[type="radio"] {
  display: none; }

@media (min-width: 2200px) {
  main p.textOverlay {
    font-size: 4.3vw; } }

@media (min-width: 2500px) {
  main p.textOverlay {
    font-size: 3.8vw; } }

@media (min-width: 2700px) {
  main p.textOverlay {
    font-size: 2.3vw; } }

@media (max-width: 950px) {
  header h1 {
    margin-top: 0;
    padding-top: 100px;
    font-size: 16vw; }
    header h1 span {
      font-size: 16.2vw; } }

@media (max-width: 770px) {
  .wrapper {
    width: 90%; }
  p.drake {
    margin-top: 72%;
    text-transform: none; } }

@media (max-width: 650px) {
  .gallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .gallery label {
      max-width: 70%;
      margin-bottom: 30px; }
    .gallery label:nth-of-type(1) {
      margin-left: 0; }
    .gallery label:nth-of-type(3) {
      margin-right: 0; }
    .gallery p.textOverlay {
      font-size: 12vw; }
    .gallery p.drake {
      font-size: 11vw; }
  main h2 {
    letter-spacing: -3.5px; } }
